
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>
<br />

<div class="container-fluid">
    <div class="center">
        <h3>Q: What do we do?</h3>
        <p>
            A: Dijital Hijinks strives to bring the best analytics and tracking technology in the greater Monmouth/Independence area.
            We promote the great sport of swimming
        </p>
        <p>
            We provide the following services:

            <ul class="text-left" style="display:inline-block;vertical-align:middle;">
                <li>Advanced tracking and analytics for Coaches</li>
                <li>Tracking your favorite athletes performance</li>
                <li>Head to head personal record comparisons</li>
                <li>Athlete profiles with information directly from the athlete</li>
                <li>Collaboration for event directors</li>
            </ul>
        </p>
    </div>
</div>

<br />

<div class="container-fluid">
    <div class="center">
        <h3>Q: How much does it cost?</h3>
        <p>Our platform is entirely Free! If you receive any sort of contact claiming to be a part of the Digital Hijinks team, please, let us know about it!</p>
    </div>
</div>

<br />

<div class="container-fluid">
    <div class="center">
        <h3>Q: What even is swimming?</h3>
        <p>A: Swimming the action of propelling ones self though the water. Initially began as a survival tactic but has since evolved into a fantastic exercise and competitive sport for anyone to enjoy.</p>
    </div>
</div>

<br />

<div class="container-fluid">
    <div class="center">
        <h3>Q: Why should I use this site?</h3>
        <p>A: The tools we provide here are superior to similar sites you may find. To add more, we are used by athletes and coaches themselves, strictly for promoting the sport. We do not have intrusive adds, nor do we require any payment.</p>
    </div>
</div>