
@{
    ViewBag.Title = "PrivacyPolicy";
}

<h2>Our Privacy Policy</h2>
<br />
<div class="container">
    <div class="center">
       <h3>Privacy</h3>
        <p>
            Here at Digital Hijinks we strive to bring the best possible security to our users. 
            Our service provides a unique and useful tool to not only coaches, but also fans. 
            We store information that is manually input by certified coaches for the purpose of viewing athletes performance year round. This information is available for all members to see.
        </p>
        <p>
            Here at digital Hijinks we allow for memebers to join the community by signing up with an E-mail and password. 
            Rest assured, this information is highly classified and is seen by nobody. While we employ the best methods for safeguarding your information, there is no secuirty system that is 100% effective. In the event that something happens where our securities are breached, we will inform all parties of the extent via email.  We encourage anybody with questions or concerns regarding their personal information to contact us immediately via E-mail DijitalHijinks@wou.edu.
        </p>
        <p>
        <h3>What We Do With Data</h3>
        <p>
            All data that you see on this site is voluntarily given. With this, you must also know, whatever data you give becomes part of the public domain, with the exception of login information. All data pertaining to athlete performance is available to all site users.
        </p>
        <p>
            <h3>Unwanted or potentially harmful data</h3>
            We promote healthy competition and truth here. If you encounter mean-spirited comments, false information, or anything that should not be here, contact us and we will do our best to rectify the situation.
        </p>
        <br />
        <p>
            Still have questions? Checkout our FAQ page.
        </p>
    </div>

</div>