
@{
    ViewBag.Title = "Route";
}

<h2>Route</h2>

@using (Html.BeginForm())
{
    <input type="text" id="name" />
    <button type="button" id="myButton" onclick="getInfo()">AJAX</button>
}




<div id="outputTable">
    <table id="output"></table>

</div>


@section scripts
{
    <script src="~/Scripts/main.js"></script>
}