@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>DIGITAL HIJINKS CAPSTONE</h1>
    <p>Welcome to our splash page- our website is in the wee moments of inception, and is currently being built.
    Check back later for more news!</p>
    <p>--This is a continuous deployment test.--</p>
</div>
