@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>DIGITAL HIJINKS CAPSTONE</h1>
    <p>Welcome to our splash page- our website is in the wee moments of inception, and is currently being built.
    Check back later for more news!</p>
    <p>--This is a continuous deployment test.--</p>
    <p> Hello becka!</p>
</div>


<iframe width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyArb3QIXJppRRSFTRgi8KZ51vrAm8yEExM&q=Best+Buy,Salem+OR" allowfullscreen>
</iframe>