@{
    ViewBag.Title = "Home Page";
    <script src="~/Scripts/Homepage.js"></script>
    <script>
            console.log("On load Check, Events");
            getEvents(@ViewBag.UserID);
    </script>
}

<div style="background-image: url(/Content/route.jpg); padding: 10px; margin: 10px 0px 10px 0px;">
    <div style="text-align:center;">
        <h1>Your next trip begins here</h1>
        <p style="font-size: 26px"> We here at Digital Hijinks are dedicated to creating the best possible software solution for creating a unique and special experience exploring the world.</p>
        <h1><a class="btn btn-primary" href="/Routes/Create" role="button">Create a Route</a></h1>
    </div>
    <br />
    <br />
    <div class="row" style="text-align:center">
        <div class="col-4">
            <a class="btn btn-secondary" role="button" href="/Account/Register">Register Account</a>
        </div>
        <div class="col-4">
            <a class="btn btn-secondary" role="button" href="/Account/Login">Login</a>
        </div>
        <div class="col-4">
            <a class="btn btn-secondary" role="button" href="/Routes/HowTo">How To Create A Route</a>
        </div>
    </div>
</div>

<div id="myEvents" class="container">
    <div id="myevents"></div>
    <div id="upcomingEvents" class="row"></div>
</div>

<br />
<br />
<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="~/Content/img1.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="~/Content/img2.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="~/Content/img3.jpg" style="width:100%">
        <div class="text"></div>
    </div>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
@Scripts.Render("~/Scripts/Homepage.js")
@Styles.Render("~/Content/homepage.css")

