@{

    ViewBag.Title = "Home Page";

}

<<<<<<< HEAD


<div class="jumbotron" style="text-align:center">

    <h1>DIGITAL HIJINKS CAPSTONE</h1>

    <a class="btn btn-primary" href="/Routes/Create" role="button">Create a Route</a>

</div>
=======
    <div class="jumbotron" style="text-align:center">
        <h1>DIGITAL HIJINKS CAPSTONE</h1>
        <a class="btn btn-primary" href="/Routes/Create" role="button">Create a Route</a>
    </div>
>>>>>>> dev
