#alertboard {
    text-align: center;
    font-size: 100px;
    height: 700px;
    width: 100%;
}
#sortable {
    list-style-type: inherit;
    margin: 0;
    padding: 0;
    width: 60%;
}

    #sortable li {
       cursor:pointer; 
    }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }

/*
#addLocation li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}

#addLocation li span {
    position: absolute;
    margin-left: -1.3em;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

.gifbg {
    background-image: url('rt.gif');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.4;
}
*/

#searchmap {
    height: 500px;
    width: 100%;
    z-index: 1;
}

#routemap {
    height: 500px;
    width: 100%;
    z-index: 1;
}

.dropdown-toggle::after {
    display: none;
}

#inp {
    text-align: center;
    margin: auto;
}

.profilepic {
    border: 1px solid #474747;
    max-height: 100px;
}

.profilepic-navbar {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 5px;
    margin-right: 15px;
    padding: 0px;
}

.profileBackground {
    text-align: center;
    width: 60%;
    height: 650px;
    margin-bottom: 35px;
    padding: 10px;
    margin-top: 25px;
    background-color: #EB8258;
    border: 1px solid #474747;
    box-shadow: 10px 10px 5px rgba(71,71,71, 0.4);
}

body {
    padding-bottom: 20px;
    background-color: floralwhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#mapid {
    height: 180px;
}

.commentBox {
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 20px;
    width: 80%;
    height: 100px;
}
/*
<---------------------------------------How to Page css--------------------------------------->
*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*
<---------------------------------------Modal css--------------------------------------->
*/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-left: 15px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    float: left;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.twitter-share-button[style] {
    vertical-align: text-bottom !important;
}

.twitterHelper {
    padding-top: 4px;
}

/*
<---------------------------------------Modal css--------------------------------------->
*/

.Crater-Lake {
    background-image: url('/Content/CraterLake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
}

.Mount-Hood {
    background-image: url(MountHood.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
}

.Deschutes {
    background-image: url(Deschutes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
}

.Hells-Canyon {
    background-image: url(HellsCanyon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
}