#alertboard {
    text-align: center;
    font-size: 100px;
    height: 700px;
    width: 100%;
}
#sortable {
    list-style-type: inherit;
    margin: 0;
    padding: 0;
    width: 60%;
}

    #sortable li {
       cursor:pointer; 
    }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }

/*
#addLocation li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}

#addLocation li span {
    position: absolute;
    margin-left: -1.3em;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

.gifbg {
    background-image: url('rt.gif');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.4;
}
*/

#searchmap {
    height: 500px;
    width: 100%;
}

#routemap {
    height: 500px;
    width: 100%;
}

.dropdown-toggle::after {
    display: none;
}

#inp {
    text-align: center;
    margin: auto;
}

.profilepic {
    border: 1px solid #474747;
    max-height: 200px;
}

.profilepic-navbar {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 5px;
    margin-right: 15px;
    padding: 0px;
}

.profileBackground {
    text-align: center;
    width: 60%;
    height: 450px;
    margin-bottom: 35px;
    padding: 10px;
    margin-top: 25px;
    background-color: #EB8258;
    border: 1px solid #474747;
    box-shadow: 10px 10px 5px rgba(71,71,71, 0.4);
}

body {
    padding-bottom: 20px;
    background-color: floralwhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#mapid {
    height: 180px;
}
/*
<---------------------------------------How to Page css--------------------------------------->
*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}