@{
    ViewBag.Title = "Home Page";
}

<div class="header">
        <h1 style="color: #5278f6; text-align: center;">Welcome!</h1>
</div>

<div class="login">
        <form action="#" method="post" name="userid" id="userid">
            <h2 style="color:black; ">User Login</h2>
            <p><input type="text" class="input-text" name="username" value="" placeholder="User/Email" required ></p>
            <p><input type="password" class="input-text" name="password" value="" placeholder="password" required></p>
            <p><input type="submit" class="btn btn-default" value="login"></p>
        </form>
    
</div>