@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>Create a route!</h1>
</div>

<div id="establishments"></div>

@section scripts
{
    <script src="~/Scripts/PlacesAPI.js"></script>
}