
@{
    ViewBag.Title = "Destinations";
}

<h2>Destinations to checkout!</h2>
<br />

<div class="Crater-Lake" style="background-image: url('/Content/CraterLake.jpg')"></div>
    <h1>Crater Lake</h1>
    <p>Crater Lake was established in 1902, making it the fifth oldest National park in the United States. There are many hikes and sights to see at this wonderful place and is a perfect destination for any roadtrip!</p>

<div class="Mount-Hood" style="background-image: url('/Content/MountHood.jpg')"></div>
<div>Mount Hood</div>

<div class="Deschutes" style="background-image: url('/Content/Deschutes.jpg')"></div>
<div>Deschutes National Park</div>

<div class="Hells-Canyon" style="background-image: url('/Content/HellsCanyon.jpg')"></div>
<div>Hells Canyon National Recreation Area</div>