
@{
    ViewBag.Title = "HowTo";
}
    <body>
        <h1>How Do I Create a Roadtrip?</h1>
        <br />
        <p>Our site offers an easy to use tool to create a roadtrip! Here is how to start.</p>
        <button class="accordion">Step 1</button>
        <div class="panel">
            <p>
                Before anything the first thing to do is to create an account with us. This allows you too search for premade routes as well as save ones that you have created and would like to keep.
                You can navigate to the account creation page my selecting "Create Acccount" in the top right corner, or if you already have an account, simply select "Login" located in the same area.
            </p>
            <img src="~/content/navbar.png" style="width: 85%" />
        </div>
        <br />
        <button class="accordion">Step 2</button>
        <div class="panel">
            <div><p>Now you can start building a route! Click the "Create A Route!" button. This will navigate you to what you came here for. At the top of the screen you will see:</p></div>
            <div><img src="~/Content/Search.png" style="width: 85%; outline: black solid 1px" /></div>
        </div>
        <br />
        <button class="accordion">Step 3</button>
        <div class="panel">
            <p>Once the results are returned, we a can begin building the route! From the returned results we can either add that establishment to the route or we can view some details of that place. Repeat unitl your trip is planned!</p>
            <div><img src="~/Content/routeCreation.png" style="width: 85%" /></div>
        </div>
        <br />
        <button class="accordion">Example Video</button>
        <div class="panel">
            <video controls>
                <source src="~/Content/croppedVid.mp4" style="height:auto"/>
            </video>
        </div>
    </body>

@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/Scripts/main.js")
