@model Roadtrip.Models.ViewModels.MapInfoViewModel

@{
    ViewBag.Title = "Home Page";
}
    <body background="https://get.pxhere.com/photo/landscape-horizon-mountain-cloud-sky-road-field-desert-perspective-highway-driving-asphalt-roadtrip-lane-plain-straight-road-trip-lines-infrastructure-road-surface-nonbuilding-structure-controlled-access-highway-974766.jpg" style="background-size:auto">
        <div class="jumbotron" style="text-align:center">
            <h1>Your next trip begins here</h1>
            <h1>@Html.ActionLink("Create a route!", "Create", "Routes")</h1>

        </div>
    </body>
