html, body {
    height: 100%;
    background-color: lightblue;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
    padding-bottom: 60px;
}

body {
    padding-top: 50px;
    
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.header{
    
    font-style: oblique;
}

.login {
    border-radius: 5px;
    background-color: #dddcdc;
    padding: 10px;
    background-image: url(9432d5dabcdfc401a45ce47113b79dad.jpg) ;
    background-repeat:repeat;
    background-size: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type=submit]{
    background-color: #0d932f;
    color:white;
}

select,
textarea {
    max-width: 280px;
}

#totalnav {
    background: url(https://ohiocryo.com/wp-content/uploads/2015/08/Underwater-photograph-of-014.jpg) border-box;
    background-size: 50%;
}

.navbar-nav li {
    background-color: #27408b;
    border: 2px solid #5e5e5e;
    color: white !important;
}

.navbar-title {
    background-color: darkblue;
    border: 2px solid black;
    color: white;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    margin: 0px 5px 0px 0px;
}

.button {
    margin: 0px 5px 0px 5px;
}

.nav-bar-button {
    background-color: darkorange;
    color: white !important;
    float: right;
}

footer {

    width: 100%;
    height: 60px;
    background-color: dodgerblue;
}


.center{
    text-align: center;
    border:2px solid black;
    background-color:antiquewhite;
}

.link {
    color:black;
}