
@{
    ViewBag.Title = "Edit";
}

<h2 style="text-align:center;">@User.Identity.Name</h2>
<body style="background-color: #F5CB5C;">
    <div class="container profileBackground">
        <div class="row">
            <div class="col-lg-12" style="height:200px;">
                @if (Request.IsAuthenticated)
                {
                    var name = "default.jpg";
                    if (ViewBag.loggedIn)
                    {
                        name = User.Identity.Name + ".jpeg?r=" + DateTime.Now.Ticks.ToString(); ;
                    }
                    <div style="height: 200px;">
                        <img src="~/Uploads/@name" class="profilepic" />
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="postedFile" />
                    <input type="submit" value="Upload" />
                    <br />
                    <span style="color:green">@ViewBag.Message</span>
                }
            </div>           
        </div>
    </div>
</body>


